{{> header}}
<!-- CONTENT -->
<main>
    <div class="content">
        <div id="users-role-panel">
            <p>nome e-mail permissão</p>
            <form name="edit-role">
                {{#each users_role}}
                    <div>
                        <p>{{name}} {{email}} {{role}} <a href="admin/page/edit_user/{{id}}">Edit</a></p>
                    <!--
                        <input name="name-edit-role" value="{{name}}">
                        <input name="email-edit-role" value="{{email}}">
                        <select name="role-edit-role">
                            {{#each all_role as |all_role|}}
                                <option
                                    value="{{all_role}}"
                                    {{#if (eq all_role role)}}
                                        selected
                                    {{/if}}
                                >
                                    {{all_role}}
                                </option>
                            {{/each}}
                        </select>
                    -->
                    </div>
                {{/each}}
            </form>
        </div>
    </div>
</main>
{{> footer}}

