{{> header}}
<!-- CONTENT -->
<main>
    <div class="content">
        <h1>Lista de Cursos</h1>
        <div id="cursos" class="container-cursos">
            {{#each cursos as |cursos|}}
                {{#dataValues}}
                <div class="card">
                    <div class="card-image">
                        <img
                            src="/images/cards/{{imagem}}"
                            width="100%"
                            alt="img curso"
                        />
                    </div>
                    <div class="card-content">
                        <h2 class="card-title">{{this.nome}}</h2>
                        <p>{{descricao}}</p>
                    </div>
                    <div class="card-footer">
                        {{#each categoria_nomes}}
                            <p class="tag">{{this}}</p>
                        {{/each}}
                        <a href="/cursos/page/c/{{id}}">
                            <button type="button" class="action">Inscrever-se</button>
                        </a>
                    </div>
                </div>
                {{/dataValues}}
            {{/each}}
        </div>
    </div>
</main>
{{> footer}}

