{{> header}}
    <!-- CONTENT -->
    <div class="container-curso" id="curso">
      {{#if dataValues}}
      {{#dataValues}}
      <div class="card-curso">
        <img class="card-image-curso" src="/images/cards/{{imagem}}">
        <div class="card-content-curso ">
          
          <div class="card-title-curso">
            {{nome}}
          </div>
            <p><b>Descrição:</b>      {{descricao}}</p>
            <p><b>Carga Horária:</b>     {{ch}} </p> 
            {{#each categoria_nomes}}
              <p><b>TAGs:</b>     {{this}} </p> 
            {{/each}}
            {{/dataValues}}
        </div>
      </div> 
      {{/if}}
      
      {{!-- {{#if curso}}
        {{#dataValues}}
        <h1>{{name}}</h1>
        {{/dataValues}}
      {{/if}} --}}
      
    </div>
    {{> footer}}